@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

@import 'base/variables';
@import 'base/mixins';

@import 'blocks/header';
@import 'blocks/media';
@import 'blocks/slider-main';
@import 'blocks/tabs';
@import 'blocks/btns';
@import 'blocks/prof-orientation-form-section';
@import 'blocks/documents-slider-section';
@import 'blocks/header-mobile';
@import 'blocks/main-menu-extended1';
@import 'blocks/carrier';
@import 'blocks/carousel';
@import 'blocks/arrow';
@import 'blocks/gallery';
@import 'blocks/cabinet';
@import 'blocks/student-life';
@import 'blocks/success-preview-section';
@import 'blocks/news-section';
@import 'blocks/student-form-section';
@import 'blocks/modal';
@import 'blocks/footer';


@import 'info/breadcrumbs';
@import 'info/specialties-main';
@import 'info/about-section';
@import 'info/advantages';
@import 'info/slider-resources';
@import 'info/slider-history';

@import 'news/breadcrumbs-1';
@import 'news/page-news';

@import 'abitur/vikon-wrapper';



* {
	box-sizing: border-box;
	outline: none;
	font-family: 'Montserrat Alternates', sans-serif;
}

article, aside, footer, header, nav, section {
    display: block;
}

nav li, ol, ul {
    list-style-type: none;
}

section {
    margin-bottom: 70px;
}

button, input, optgroup, select, textarea {
    line-height: inherit;
}

[type=submit], button, input, select, textarea {
    appearance: none;
    border-radius: 0;
    font-family: inherit;
}

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0;
}

input {
    max-width: 352px;
    box-shadow: none;
    padding: 0;
}

h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.22;
}
h5 {
    font-size: 20px;
    font-weight: 500;
}

form {
    display: block;
    margin-top: 0em;
}

img {
    max-width: 100%;
    max-height: 100%;
}
img {
    border-style: none;
}

.link, a {
    color: #000;
    text-decoration: underline;
}

.checkbox, .form-attach__label {
    cursor: pointer;
}

.myclass {
	height: 600px;
	background-color:hsla(0, 0%, 100%, .6)																	3000;
}

body > .flow-container {
    position: relative;
}
.flow-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    z-index: 3;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.row {
    display: flex;
    width: 100%;
}

.content {
    margin-top: 145px;
    position: relative;
    flex: 1 0 auto;
    min-height: 0;
    background: #fff;
}

.burger__part {
    margin-bottom: 7px;
    transition-duration: .3s;
}

.burger__part, .menuIsOpened .burger .burger__part {
    background: #000;
    height: 3px;
    width: 30px;
}
.burger, .burger-block__logo {
    position: absolute;
    z-index: 990;
    width: 33px;
}

.burger-block {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: calc(50% - 720px);
    cursor: pointer;
}

.success-preview-carousel3 {
    display: flex;
    margin-left: 80px;
    margin-bottom: 30px;
}
.success-preview-carousel3 h3 {
    margin-top: 0;
    font-size: 36px;
    width: 445px;
}
.success-preview-carousel3 div {
    width: 600px;
}

.burger {
    top: 116px;
    left: 37px;
    height: 20px;
    display: block;
    position: absolute;
    background: #000;
    transform: translateY(-50%);
    width: 26px;
    cursor: pointer;
    //&__active {
    //    span {
    //        margin-bottom: -3px;
    //        &:first-child {
    //            transform: translateY(3px) rotate(-45deg);
    //        }
    //        &:nth-child(2) {
   //             display: none;
    //        }
   //         &:nth-child(3) {
    //            display: none;
   //         }
    //        &:nth-child(4) {
    //            transform: translateY(3px) rotate(45deg);
   //         }
      //  }
    //}
    span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #fff;
        margin-bottom: 3px;
        transition: 0.6s all;
    }
}

.pageup {
	opacity: 0;
	position: fixed;
	bottom: 40px;
	right: 5%;
	border: 2px solid $main-color;
	color: $main-color;
	height: max-content;
	min-height: 55px;
	width: 55px;
	border-radius: 50%;
	z-index: 33;
	background: hsla(0, 0%, 100%, .6);
	padding: 0;
	transition: 1s all;
}
.pageup svg {
	fill: $main-color;
	transition: .3s;
	transform: scale(1.5);
	margin-left: 20px;
	margin-top: calc(50% - 7px);
}

