header.main-header1 {
    position: fixed;
    z-index: 999;
    background: #fff;
    width: 100vw;
}

.top-header {
    position: relative;
    z-index: 999;
    display: flex;
    align-items: center;
}

.logo-block {
    display: flex;
    align-items: center;
}
.logo-block__img {
    margin-right: 18px;
    width: 100%;
    max-width: 210px;
    a {
        text-decoration: underline;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}
.logo-block__text {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    max-width: 256px;
}


.top-header__links-block {
    display: inline-flex;
    flex-direction: column;
    margin-left: 80px;
    a {
        display: inline-block;
        text-decoration: none;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 12px;
        line-height: 1.37;
    }
}

.head-module.search {
    margin: 0 20px 0 100px;
}
.search-container {
    position: relative;
}
.head-module.search input[type="text"] {
    width: 212px;
    height: 34px;
    border: 1px solid #999999;
    background-color: #000;
    border-radius: 2px;
    padding-left: 30px;
}
.search-button {
    position: absolute;
    top: 28px;
    left: 7px;
}


.top-header .tel-block {
    margin-right: 20px;
    a {
        color: #000;
    }
}
.tel-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.39;
    text-decoration: none;
}
.tel-block__city {
    font-size: 16px;
    line-height: 1.37;
}




.header-main-menu {
    position: relative;
    z-index: 999;
    display: flex;
    align-items: center;
    padding: 20px 0px 20px 80px;
}
.header-main-menu__list, .header-main-menu__list ul {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}
.header-main-menu__list ul {
    margin-left: 0;
}
.header-main-menu__list ul > li {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.header-main-menu__item {
    list-style-type: none;
    margin-left: 50px;
}
.header-main-menu {
    &__item {
        a {
            color: #000;
        }
    }
    &__link {
        position: relative;
        text-decoration: none;
        font-size: 15px;
        &:hover {
            color: $main-color;
        }
    }
    &__list {
        ul > li {
            position: relative;
        }
    }
}

.header-main-menu__contacts {
    display: flex;
    align-items: center;
    margin-left: 210px;
    a {
        color: #000;
    }
}
.header-main-menu__contacts-link:first-child {
    margin-left: 30px;
}
.header-main-menu__contacts-link {
    position: relative;
    text-decoration: none;
    margin-left: 13px;
    font-size: 15px;
}
.header-main-menu__contacts-link:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 2px;
    transition: .3s;
    background: orange;
}
.header-main-menu__age-ico {
    margin-left: 25px;
}