.menuIsOpened .main-menu-extended1 {
    height: max-content;
    pointer-events: auto;
    visibility: visible;
}

.main-menu-extended1 {
    position: absolute;
    background: #4b3737;
    z-index: 1000;
    width: 100%;
    margin-bottom: 0;
    height: 0;
    pointer-events: none;
    visibility: hidden;
    overflow-y: hidden;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, .5, 1);
}

.container-2 {
    max-width: 1366px;
    margin: auto;
    background: #d1d1d1;
}

.main-menu-extended1 .container {
    position: relative;
    z-index: 1100;
    display: flex;
    width: 100%;
    left: calc(50% - 720px);
    margin: 0;
}
.main-menu-extended1 .container:before {
    content: "";
    position: absolute;
    z-index: 111111;
    top: -8px;
    left: 40px;
    width: 15px;
    height: 15px;
    background: #4b3737;
    transform: rotate(45deg);
}